---
// Root redirects to podcast hub (MVP)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/podcast/" />
    <link rel="canonical" href="/podcast/" />
    <title>Redirecting to Ag &amp; Culture Podcast</title>
  </head>
  <body>
    <p>Redirecting to <a href="/podcast/">Ag &amp; Culture Podcast</a>...</p>
  </body>
</html>
